In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import cohen_kappa_score
from statsmodels.stats.inter_rater import fleiss_kappa
import krippendorff

In [2]:
df = pd.read_csv("processed_annotations/CANNONICAL_LIST.csv")
df.head()

  KATHLEEN    LIZ KAYCEE KATHLEEN_AB LIZ_AB KAYCEE_AB
0    Blank  Blank  Blank       Blank  Blank     Blank
1    Blank  Blank      A       Blank  Blank        AB
2    Blank  Blank      A       Blank  Blank        AB
3    Blank  Blank  Blank       Blank  Blank     Blank
4    Blank  Blank  Blank       Blank  Blank     Blank

In [3]:
included = df[(df['inclusion'] == 1)]
annotated_AB = df[(df['EITHER_AB'] == 1)]
annotated_A = df[(df['ANY_A'] == 1)]
annotated_B = df[(df['ANY_B'] == 1)]

print(f"Total Sentences: {len(df)}")
print(f"Total Sentences (clean): {len(included)}; (% total: {len(included)/len(df):.3f})")

print(f"Annotated Either A or B: {len(annotated_AB)}; (% total: {len(annotated_AB)/len(df):.3f}); (% clean: {len(annotated_AB)/len(included):.3f})")
print(f"Annotated A: {len(annotated_A)}; (% total: {len(annotated_A)/len(df):.3f}); (% clean: {len(annotated_A)/len(included):.3f})")
print(f"Annotated B: {len(annotated_B)};(% total: {len(annotated_B)/len(df):.3f}); (% clean: {len(annotated_B)/len(included):.3f})")

Total Sentences: 9951
Total Sentences (clean): 6399; (% total: 0.643)
Annotated Either A or B: 739; (% total: 0.074); (% clean: 0.115)
Annotated A: 636; (% total: 0.064); (% clean: 0.099)
Annotated B: 139;(% total: 0.014); (% clean: 0.022)

In [4]:
N_docs = len(set(df['ICD_doc_id']))

KATHLEEN_A = np.sum(df['KATHLEEN_A'])
KATHLEEN_B = np.sum(df['KATHLEEN_B'])

LIZ_A = np.sum(df['LIZ_A'])
LIZ_B = np.sum(df['LIZ_B'])

KAYCEE_A = np.sum(df['KAYCEE_A'])
KAYCEE_B = np.sum(df['KAYCEE_B'])

print("Marked 'A'")
print(f"\tKATHLEEN: {KATHLEEN_A} ({KATHLEEN_A/N_docs:.3f} per doc)")
print(f"\tLIZ: {LIZ_A}  ({LIZ_A/N_docs:.3f} per doc)")
print(f"\tKAYCEE: {KAYCEE_A}  ({KAYCEE_A/N_docs:.3f} per doc)")
print()
print("Marked 'B'")
print(f"\tKATHLEEN: {KATHLEEN_B} ({KATHLEEN_B/N_docs:.3f} per doc)")
print(f"\tLIZ: {LIZ_B} ({LIZ_B/N_docs:.3f} per doc)")
print(f"\tKAYCEE: {KAYCEE_B} ({KAYCEE_B/N_docs:.3f} per doc)")

Marked 'A'
	KATHLEEN: 413 (3.082 per doc)
	LIZ: 333  (2.485 per doc)
	KAYCEE: 452  (3.373 per doc)

Marked 'B'
	KATHLEEN: 56 (0.418 per doc)
	LIZ: 59 (0.440 per doc)
	KAYCEE: 29 (0.216 per doc)

In [5]:
agree_A = included[(included['KATHLEEN_A'] == 1) & (included['KAYCEE_A'] == 1) & (included['LIZ_A'])]
agree_B = included[(included['KATHLEEN_B'] == 1) & (included['KAYCEE_B'] == 1) & (included['LIZ_B'])]
print(len(agree_A))
print(len(agree_B))

211
0

In [6]:
agree_any = included[((included['KATHLEEN_A'] == 1) | (included['KATHLEEN_B'] == 1) ) &\
                   ((included['LIZ_A'] == 1) | (included['LIZ_B'] == 1) ) &\
                   ((included['KAYCEE_A'] == 1) | (included['KAYCEE_B'] == 1) ) ]

len(agree_any)

231

In [7]:
blanks = included[((included['KATHLEEN_A'] == 0) & (included['KATHLEEN_B'] == 0) ) &\
                   ((included['LIZ_A'] == 0) & (included['LIZ_B'] == 0) ) &\
                   ((included['KAYCEE_A'] == 0) & (included['KAYCEE_B'] == 0) ) ]

len(blanks)

5660

In [8]:
5660/6399

0.8845132051883107

In [9]:
KATHLEENvLIZ_A = cohen_kappa_score(included['KATHLEEN_A'], included['LIZ_A'])
KATHLEENvKAYCEE_A = cohen_kappa_score(included['KATHLEEN_A'], included['KAYCEE_A'])
LIZvKAYCEE_A = cohen_kappa_score(included['LIZ_A'], included['KAYCEE_A'])

KATHLEENvLIZ_B = cohen_kappa_score(included['KATHLEEN_B'], included['LIZ_B'])
KATHLEENvKAYCEE_B = cohen_kappa_score(included['KATHLEEN_B'], included['KAYCEE_B'])
LIZvKAYCEE_B = cohen_kappa_score(included['KAYCEE_B'], included['LIZ_B'])

print("Marked 'A'")
print(f"KATHLEEN LIZ: {KATHLEENvLIZ_A:.4f}")
print(f"KATHLEEN KAYCEE: {KATHLEENvKAYCEE_A:.4f}")
print(f"LIZ KAYCEE : {LIZvKAYCEE_A:.4f}")
print()
print("Marked 'B'")
print(f"KATHLEEN LIZ: {KATHLEENvLIZ_B:.4f}")
print(f"KATHLEEN KAYCEE: {KATHLEENvKAYCEE_B:.4f}")
print(f"LIZ KAYCEE: {LIZvKAYCEE_B:.4f}")

Marked 'A'
KATHLEEN LIZ: 0.6131
KATHLEEN KAYCEE: 0.5921
LIZ KAYCEE : 0.6626

Marked 'B'
KATHLEEN LIZ: 0.0436
KATHLEEN KAYCEE: 0.0177
LIZ KAYCEE: 0.0168

In [10]:
0.6131 - 0.0436

0.5695

In [11]:
included['LIZ_sumAB'] = included['LIZ_A'] + included['LIZ_B']
included['KATHLEEN_sumAB'] = included['KATHLEEN_A'] + included['KATHLEEN_B']
included['KAYCEE_sumAB'] = included['KAYCEE_A'] + included['KAYCEE_B']

included['LIZ_any'] = [1 if x >= 1 else 0 for x in included['LIZ_sumAB']]
included['KATHLEEN_any'] = [1 if x >= 1 else 0 for x in included['KATHLEEN_sumAB']]
included['KAYCEE_any'] = [1 if x >= 1 else 0 for x in included['KAYCEE_sumAB']]


KATHLEENvLIZ_Any = cohen_kappa_score(included['LIZ_any'], included['KATHLEEN_any'])
LIZvKAYCEE_Any = cohen_kappa_score(included['LIZ_any'], included['KAYCEE_any'])
KATHLEENvKAYCEE_Any = cohen_kappa_score(included['KAYCEE_any'], included['KATHLEEN_any'])

print("Marked 'A' or 'B'")
print(f"KATHLEEN LIZ: {KATHLEENvLIZ_Any:.4f}")
print(f"LIZvKAYCEE: {LIZvKAYCEE_Any:.4f}")
print(f"KATHLEENvKAYCEE: {KATHLEENvKAYCEE_Any:.4f}")

Marked 'A' or 'B'
KATHLEEN LIZ: 0.5881
LIZvKAYCEE: 0.6385
KATHLEENvKAYCEE: 0.5550

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [12]:
from statsmodels.stats.inter_rater import fleiss_kappa


included['sum_A'] = included['KATHLEEN_A'] + included['LIZ_A'] + included['KAYCEE_A']
included['sum_B'] = included['KATHLEEN_B'] + included['LIZ_B'] + included['KAYCEE_B']
included['sum_Blank'] = 3 - (included['sum_A'] + included['sum_B'])


fl = included[['sum_A', 'sum_B', 'sum_Blank']]

fleiss_kappa(fl, method='fleiss')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0.5736460903453653

In [13]:
included.head()

,Unnamed: 0,ICD_doc_id,sentence,num_words,num_chars,sentence_string,KATHLEEN_A,KATHLEEN_B,KATHLEEN_text,annotation_id,...,EITHER_AB,LIZ_sumAB,KATHLEEN_sumAB,KAYCEE_sumAB,LIZ_any,KATHLEEN_any,KAYCEE_any,sum_A,sum_B,sum_Blank
0,0,95581557,"Ct) MERCY HEALTH \nGRAND RAPIDS, Ml \nCONSENT ...",23,106,"Ct) MERCY HEALTH GRAND RAPIDS, Ml CONSENT TO R...",0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,3
2,2,95581557,I understand that I need or may need blood and...,27,130,I understand that I need or may need blood and...,0,0,NaN,71891838.0,...,1,0,0,1,0,0,1,1,0,2
3,3,95581557,This hospital admission D Outpatient: Series o...,12,69,This hospital admission D Outpatient: Series o...,0,0,NaN,71891838.0,...,1,0,0,1,0,0,1,1,0,2
5,5,95581557,: I understand that blood or blood products wi...,18,86,: I understand that blood or blood products wi...,0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,3
6,6,95581557,My doctor will determine the amount of blood o...,21,111,My doctor will determine the amount of blood o...,0,0,NaN,NaN,...,0,0,0,0,0,0,0,0,0,3

In [14]:
max(included['KAYCEE_any'])

1

In [15]:
included['sum_AB'] = included['KATHLEEN_any'] + included['LIZ_any'] + included['KAYCEE_any']
included['sum_Blank'] = 3 - (included['sum_AB'])


fl = included[['sum_AB', 'sum_Blank']]

fleiss_kappa(fl, method='fleiss')

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

0.5927284044165415

In [16]:
print("Marked 'A'")
print('KATHLEEN LIZ', len([x for x in list(included['KATHLEEN_A'] + included['LIZ_A']) if x > 1]) / 6399)
print('KATHLEEN KAYCEE', len([x for x in list(included['KATHLEEN_A'] + included['KAYCEE_A']) if x > 1]) / 6399)
print('KAYCEE LIZ', len([x for x in list(included['KAYCEE_A'] + included['LIZ_A']) if x > 1]) / 6399)
print()
print("Marked 'B'")
print('KATHLEEN LIZ', len([x for x in list(included['KATHLEEN_B'] + included['LIZ_B']) if x > 1]) / 6399)
print('KATHLEEN KAYCEE', len([x for x in list(included['KATHLEEN_B'] + included['KAYCEE_B']) if x > 1]) / 6399)
print('KAYCEE LIZ', len([x for x in list(included['KAYCEE_B'] + included['LIZ_B']) if x > 1]) / 6399)
print()
print("Marked 'A' or 'B'")
print('KATHLEEN LIZ', len([x for x in list(included['KATHLEEN_any'] + included['LIZ_any']) if x > 1]) / 6399)
print('KATHLEEN KAYCEE', len([x for x in list(included['KATHLEEN_any'] + included['KAYCEE_any']) if x > 1]) / 6399)
print('KAYCEE LIZ', len([x for x in list(included['KAYCEE_any'] + included['LIZ_any']) if x > 1]) / 6399)

# included['KAYCEE_A']

# included['KATHLEEN_B']
# included['LIZ_B']
# included['KAYCEE_B']

Marked 'A'
KATHLEEN LIZ 0.037037037037037035
KATHLEEN KAYCEE 0.04188154399124863
KAYCEE LIZ 0.04188154399124863

Marked 'B'
KATHLEEN LIZ 0.00046882325363338024
KATHLEEN KAYCEE 0.0001562744178777934
KAYCEE LIZ 0.0001562744178777934

Marked 'A' or 'B'
KATHLEEN LIZ 0.041412720737615254
KATHLEEN KAYCEE 0.04360056258790436
KAYCEE LIZ 0.045163306766682294

In [17]:
print('KATHLEEN LIZ', len([x for x in list(included['KATHLEEN_any'] + included['LIZ_any']) if x == 0]) / 6399)
print('KATHLEEN KAYCEE', len([x for x in list(included['KATHLEEN_any'] + included['KAYCEE_any']) if x == 0]) / 6399)
print('KAYCEE LIZ', len([x for x in list(included['KAYCEE_any'] + included['LIZ_any']) if x == 0]) / 6399)

KATHLEEN LIZ 0.9068604469448351
KATHLEEN KAYCEE 0.8952961400218784
KAYCEE LIZ 0.9088920143772464

In [18]:
print('KATHLEEN LIZ', sum([1 if x == included['LIZ_any'].iloc[i] else 0 for i, x in enumerate(included['KATHLEEN_any'])])/6399)
print('KATHLEEN KAYCEE', sum([1 if x == included['KATHLEEN_any'].iloc[i] else 0 for i, x in enumerate(included['KAYCEE_any'])])/6399)
print('KAYCEE LIZ', sum([1 if x == included['LIZ_any'].iloc[i] else 0 for i, x in enumerate(included['KAYCEE_any'])])/6399)

KATHLEEN LIZ 0.9482731676824504
KATHLEEN KAYCEE 0.9388967026097828
KAYCEE LIZ 0.9540553211439288

In [19]:
KATHLEEN = ["Blank"] * 6399
KAYCEE = ["Blank"] * 6399
LIZ = ["Blank"] * 6399

# KATHLEEN
for i, x in enumerate(included['KATHLEEN_A']):
    if x == 1:
        KATHLEEN[i] = "A"
        
for i, x in enumerate(included['KATHLEEN_B']):
    if x == 1:
        KATHLEEN[i] = "B"
        
# KAYCEE
for i, x in enumerate(included['KAYCEE_A']):
    if x == 1:
        KAYCEE[i] = "A"
        
for i, x in enumerate(included['KAYCEE_B']):
    if x == 1:
        KAYCEE[i] = "B"
        
# LIZ
for i, x in enumerate(included['LIZ_A']):
    if x == 1:
        LIZ[i] = "A"
        
for i, x in enumerate(included['LIZ_B']):
    if x == 1:
        LIZ[i] = "B"
        
        

print('KATHLEEN LIZ', sum([1 if x == LIZ[i] else 0 for i, x in enumerate(KATHLEEN)])/6399)
print('KATHLEEN KAYCEE', sum([1 if x == KATHLEEN[i] else 0 for i, x in enumerate(KAYCEE)])/6399)
print('KAYCEE LIZ', sum([1 if x == LIZ[i] else 0 for i, x in enumerate(KAYCEE)])/6399)

KATHLEEN LIZ 0.9443663072355055
KATHLEEN KAYCEE 0.9373339584310049
KAYCEE LIZ 0.9509298327863729

In [20]:
pair_A = len(included['sum_A'][included['sum_A'] == 2])
pair_B = len(included['sum_B'][included['sum_B'] == 2])
pair_AB = len(included['sum_AB'][included['sum_AB'] == 2])
pair_blank = len(included['sum_Blank'][included['sum_Blank'] == 2])
pair_blank

368

In [21]:
included.columns

Index(['Unnamed: 0', 'ICD_doc_id', 'sentence', 'num_words', 'num_chars',
       'sentence_string', 'KATHLEEN_A', 'KATHLEEN_B', 'KATHLEEN_text',
       'annotation_id', 'KAYCEE_A', 'KAYCEE_B', 'KAYCEE_text', 'LIZ_A',
       'LIZ_B', 'LIZ_text', 'inclusion', 'Sum_Annotations', 'ANY_A', 'ANY_B',
       'EITHER_AB', 'LIZ_sumAB', 'KATHLEEN_sumAB', 'KAYCEE_sumAB', 'LIZ_any',
       'KATHLEEN_any', 'KAYCEE_any', 'sum_A', 'sum_B', 'sum_Blank', 'sum_AB'],
      dtype='object')

In [27]:
from collections import Counter


counts = {'KATHLEEN' : Counter(KATHLEEN),
            'LIZ' : Counter(LIZ),
            'KAYCEE' : Counter(KAYCEE)}




def random_aggreement(c1, c2):
    A = c1['A']/sum(c1.values()) * c2['A']/sum(c2.values())
    B = c1['B']/sum(c1.values()) * c2['B']/sum(c2.values())
    Blank = c1['Blank']/sum(c1.values()) * c2['Blank']/sum(c2.values())
    return A + B + Blank


print(random_aggreement(counts['KATHLEEN'], counts['LIZ']))
print(random_aggreement(counts['KAYCEE'], counts['LIZ']))
print(random_aggreement(counts['KATHLEEN'], counts['KAYCEE']))


counts

0.8733769861339241
0.8720334022342577
0.8617819078769268

{'KATHLEEN': Counter({'Blank': 5930, 'A': 413, 'B': 56}),
 'LIZ': Counter({'Blank': 6007, 'A': 333, 'B': 59}),
 'KAYCEE': Counter({'Blank': 5919, 'A': 451, 'B': 29})}

In [23]:
def random_aggreement(c1, c2):
    AB = (c1['A'] + c1['B']) /sum(c1.values()) * (c2['A'] + c2['B']) /sum(c2.values())
    Blank = c1['Blank']/sum(c1.values()) * c2['Blank']/sum(c2.values())
    return AB + Blank

print(random_aggreement(counts['KATHLEEN'], counts['LIZ']))
print(random_aggreement(counts['KAYCEE'], counts['LIZ']))
print(random_aggreement(counts['KATHLEEN'], counts['KAYCEE']))

0.8744274852877002
0.8729190793773669
0.8626912007978275

In [24]:
# KATHLEEN_A = list(included['KATHLEEN_A'])
# LIZ_A = list(included['LIZ_A'])
# KAYCEE_A = list(included['KAYCEE_A'])

# KATHLEEN_B = list(included['KATHLEEN_B'])
# LIZ_B = list(included['LIZ_B'])
# KAYCEE_B = list(included['KAYCEE_B'])


# KATHLEEN_A[:36] = [1] * 36
# KATHLEEN_A[:10]


# cohen_kappa_score(KATHLEEN_A, LIZ_A)

In [25]:
len(set(included['ICD_doc_id']))

134

In [84]:
counts

{'KATHLEEN': Counter({'Blank': 5930, 'A': 413, 'B': 56}),
 'LIZ': Counter({'Blank': 6007, 'A': 333, 'B': 59}),
 'KAYCEE': Counter({'Blank': 5919, 'A': 451, 'B': 29})}

In [70]:
# from itertools import combinations

# raters = ['KATHLEEN', 'LIZ', 'KAYCEE']
# annotations = {
#     'KATHLEEN':KATHLEEN, 
#     'LIZ':LIZ, 
#     'KAYCEE':KAYCEE
# }
# labels = ['A', 'B', 'Blank']
# rater_combinations = list(combinations(raters, 2) )

# tot = 6399

# for comb in rater_combinations:
#     for label in labels:
#         print(f"For label: `{label}` between `{comb[0]}` and `{comb[1]}`")
        
#         target0 = counts[comb[0]][label]/tot
#         target1 = counts[comb[1]][label]/tot
        
#         inverse0 = 1 - target0
#         inverse1 = 1 - target1
        
#         p_e = (target0 * target1) + (inverse0 *inverse1)
        
#         p_o = 0
#         for i, ann in enumerate(annotations[comb[0]]):
#             if annotations[comb[1]][i] == ann:
#                 p_o += 1

#         p_o = p_o / tot
#         k = (p_o - p_e)/ (1 - p_e)
        
#         print(f"\tp_o: {p_o}")
#         print(f"\tp_e: {p_e}")
#         print(f"\tk: {k}")
        





# Ka = counts['KATHLEEN']['A'] / tot
# La = counts['LIZ']['A'] / tot

# Kb = counts['KATHLEEN']['B'] / tot
# Lb = counts['LIZ']['B'] / tot

# Kblank = counts['KATHLEEN']['Blank'] / tot
# Lblank = counts['LIZ']['Blank'] / tot

# p_e = (Ka * La) + (Kb * Lb) + (Kblank * Lblank)


# p_o = 0
# for i, ann in enumerate(KATHLEEN):
#     if LIZ[i] == ann:
#         p_o += 1
        
# p_o = p_o / tot

# k = (p_o - p_e)/ (1 - p_e)
# k

In [83]:
# print(cohen_kappa_score(KATHLEEN, LIZ))
# print(cohen_kappa_score(KATHLEEN, KAYCEE))
# print(cohen_kappa_score(LIZ, KAYCEE))

In [80]:
df = pd.DataFrame({
    'KATHLEEN':KATHLEEN, 
    'LIZ':LIZ, 
    'KAYCEE':KAYCEE,
    'KATHLEEN_AB': ["AB" if x != 'Blank' else 'Blank' for x in KATHLEEN], 
    'LIZ_AB': ["AB" if x != 'Blank' else 'Blank' for x in LIZ], 
    'KAYCEE_AB':["AB" if x != 'Blank' else 'Blank' for x in KAYCEE]
})
df.to_csv("annotations_simple.csv", index=False)
df.head()

  KATHLEEN    LIZ KAYCEE KATHLEEN_AB LIZ_AB KAYCEE_AB
0    Blank  Blank  Blank       Blank  Blank     Blank
1    Blank  Blank      A       Blank  Blank        AB
2    Blank  Blank      A       Blank  Blank        AB
3    Blank  Blank  Blank       Blank  Blank     Blank
4    Blank  Blank  Blank       Blank  Blank     Blank

In [86]:
pd.crosstab(df.KATHLEEN, df.LIZ).to_csv("KathleenVLiz.csv")
pd.crosstab(df.KAYCEE, df.LIZ).to_csv("KayceeVLiz.csv")
pd.crosstab(df.KATHLEEN, df.KAYCEE).to_csv("KathleenVKaycee.csv")

pd.crosstab(df.KATHLEEN_AB, df.LIZ_AB).to_csv("KathleenVLiz_AB.csv")
pd.crosstab(df.KAYCEE_AB, df.LIZ_AB).to_csv("KayceeVLiz_AB.csv")
pd.crosstab(df.KATHLEEN_AB, df.KAYCEE_AB).to_csv("KathleenVKaycee_AB.csv")

LIZ       A   B  Blank
KAYCEE
A       268  17    166
B         3   1     25
Blank    62  41   5816

In [78]:
pd.crosstab(df.KAYCEE, df.KATHLEEN)

KATHLEEN    A   B  Blank
KAYCEE
A         268   7    176
B           3   1     25
Blank     142  48   5729